<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/css/hljs.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/md.css">

    <title><%- title; %></title>

    <style>

    </style>
</head>

<body>
    <header>
        <div id='title'>
            <a href='/'>房启俊的网络日志</a>
        </div>
        <div class='header-link'>
            <a href='https://github.com/zfangqijun'>Github</a>
        </div>
    </header>
    <div id='main'>
        <div class='md'>
            <%- article; %>
        </div>
    </div>
    <footer>
        <div>
            <a href='http://beian.miit.gov.cn'>
                粤ICP备20021664号
            </a>
        </div>
    </footer>
</body>

</html>