<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/css/hljs.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/md.css">

    <title><%- title; %></title>

    <style>
        
    </style>
</head>

<body>
    <div id='main'>
        <div id='md'>
            <%- article; %>
        </div>
    </div>
</body>

</html>