<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/css/base.css">
    <title>房启俊的网络日志</title>
</head>

<body>
    <header>
        <div id='title'>房启俊的网络日志</div>
        <div class='header-link'>
            <a href='https://github.com/zfangqijun'>Github</a>
        </div>
    </header>

    <div id='main'>
        <ul id='article-list'>

            <li id="article-item">
                <div id="date">2020-03-02</div>
                <a href="/2020-03-02/http2">
                    HTTP2 分帧层
                </a>
            </li>

            <li id="article-item">
                <div id="date">2020-01-26</div>
                <a href="/2020-01-26/webpackprj">
                    使用Webpack构建前端工程
                </a>
            </li>

            <li id="article-item">
                <div id="date">2020-01-12</div>
                <a href="/2020-01-12/reactlifecycle">
                    React 组件生命周期
                </a>
            </li>

            <li id="article-item">
                <div id="date">2020-01-08</div>
                <a href="/2020-01-08/httpcache">
                    HTTP 缓存笔记
                </a>
            </li>

            <li id="article-item">
                <div id="date">2019-12-10</div>
                <a href="/2019-12-10/cssczjz">
                    CSS 实现垂直居中的最佳方法
                </a>
            </li>

            <li id="article-item">
                <div id="date">2019-12-07</div>
                <a href="/2019-12-07/gjzj">
                    告诫自己
                </a>
            </li>
        </ul>
    </div>
    <footer>
        <div>
            <a href='http://beian.miit.gov.cn'>粤ICP备20021664号</a>
        </div>
    </footer>
</body>

</html>