<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/css/base.css">
    <title>房启俊的网络日志</title>
</head>

<body>
    <header>
        <div id='title'>房启俊的网络日志</div>
    </header>
    <div id='main'>
        <ul id='article-list'>
            <%- articleLinks.join('\n'); %>
        </ul>
    </div>
</body>

</html>