.md h1 {
    margin: 3rem 0;
    border-bottom: 3px solid #000;
}

.md h2 {
    margin: 1.5rem 0;
    border-bottom: 1px solid #000;
}

.md h3, .md h4, .md h5 {
    margin: 1rem 0;
}

.md p {
    margin: 1rem 0;
}

pre {
    display: block;
    overflow-x: auto;
    padding: .5rem;
    background: #000;
    border: 1px solid #ddd;
}

pre code {
    color: #000;
    background-color: transparent;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.md table{
    border: 1px solid #000;
}
.md thead {
    background: #eee;
}

.md tbody {
    background: #fff;
}

.md th, .md td {
    padding: .125rem .5rem;
    min-width: 3rem;
}

.md ul {
    margin: 1rem 0;
}

.md li {
    line-height: 1.5;
}

.md li:before {
    content: "●";
    display: inline-block;
    margin: 0 .5rem;
    font-size: 12px;
}